
.change-password-card.mdl-card.mdl-shadow--2dp
	form(method='POST', action='/auth/password')
		.mdl-card__title
				h2.mdl-card__title-text=labels.account.password.title
		.mdl-card__supporting-text
			br
			.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
				input#oldPassword.mdl-textfield__input(type='password', name='oldPassword', required)
				label.mdl-textfield__label(for='oldPassword')=labels.account.password.old
			br
			.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
				input#newPassword.mdl-textfield__input(type='password', name='newPassword', required)
				label.mdl-textfield__label(for='newPassword')=labels.account.password.new
			br
			.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
				input#newPassword2.mdl-textfield__input(type='password', name='newPassword2', required)
				label.mdl-textfield__label(for='newPassword2')=labels.account.password.new2
		.mdl-card__actions.mdl-card--border
			button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(type='submit')=labels.account.password.submit