h4=labels.auth.signup.title
form(method='POST', action='/auth/signup')
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input#username.mdl-textfield__input(type='text', name='username', required)
		label.mdl-textfield__label(for='username')=labels.auth.signup.username
	br
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input#email.mdl-textfield__input(type='email', name='email', required)
		label.mdl-textfield__label(for='email')=labels.auth.signup.email
	br
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input#phone.mdl-textfield__input(type='text', name='phone', required)
		label.mdl-textfield__label(for='phone')=labels.auth.signup.phone
	br
	.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
		input#password.mdl-textfield__input(type='password', name='password', required)
		label.mdl-textfield__label(for='password')=labels.auth.signup.password
	br
	button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(type='submit')=labels.auth.signup.submit